 <div>
    <div class="top">
        <p>PropertyCross</p>
    </div>
    <div class="content">
        <p>Use the form below to search for houses to buy. You can search by place-name, postcode, or click 'My location', to search in your current location!</p>
        <div class="search">
                <br>
                <input id = "inp1" type="text" placeholder="Search" ng-model="query">
                <br><br><br>
                <a href="search/?q={{query}}">go</a>
                <button type="button">My Location</button>
        </div>
    </div>
</div> 